@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --astro-code-color-text: #f5f5f5;
  --astro-code-color-background: #14151f;
  --astro-code-token-constant: #c1d2d8;
  --astro-code-token-string: #14152050;
  --astro-code-token-comment: #f0d1d7;
  --astro-code-token-keyword: #f0d1d7;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: #fae4c9;
  --astro-code-token-string-expression: #c6bef8;
  --astro-code-token-punctuation: #fae4c9;
  --astro-code-token-link: #c1d2d8;
  /* Light mode variables */
  --color-primary: #C8BEFD;     /* Your lila-500 */
  --color-secondary: #B7D4DA;   /* Your green-500 */
  --color-background: #f5f5f5;  /* Your white */
  --color-foreground: #141520;  /* Your black */
  --color-muted: #82B5BF;      /* Your green-600 */
  --color-accent: #A08DFB;     /* Your lila-700 */
}

.dark {
  /* Dark mode variables */
  --color-primary: #1e293b;     /* Dark gray */
  --color-secondary: #C8BEFD;   /* Light lila */
  --color-background: #0f172a;  /* Darker gray for background */
  --color-foreground: #f5f5f5;  /* White */
  --color-muted: #A08DFB;      /* Darker lila */
  --color-accent: #B4A6FC;     /* Medium lila */
}
/* Transition on the summary tag by faking the bottom maring*/
details summary {
  cursor: pointer;
  transition: margin 150ms ease-out !important;
}
details[open] summary {
  margin-bottom: 10px;
}

.prose-styles {
  @apply text-xl prose prose-xl text-foreground prose-a:font-normal prose-a:text-accent hover:prose-a:text-foreground prose-h1:text-foreground prose-img:border-transparent prose-h2:text-foreground prose-img:shadow-large prose-headings:font-medium tracking-wide prose-blockquote:border-2 prose-blockquote:bg-primary prose-img:rounded-3xl prose-img:border-2 prose-img:border-foreground prose-blockquote:p-12 prose-blockquote:border-foreground prose-blockquote:rounded-3xl prose-blockquote:shadow-large prose-pre:font-mono max-w-none prose-pre:border;
}